@import "~bootstrap/dist/css/bootstrap.css";

.search-form {
  padding-top: 50px;
}

.jumbotron {
  background-color: rgba(0, 0, 0, 0.1);
}

.repoheading {
  font-size: 200%;
  margin-top: 5%;
  color: white;
}

.down {
  background-color: rgba(0, 0, 0, 0.3);
}

.btn:hover {

  color: darkblue;
  border: rgba(0, 0, 0, 0.1);
  font-style: italic;
  text-align: center;

  background-color: whitesmoke;
}

.card {
  margin-bottom: 2%;
  height: 260px;
}
