<form action="" class="search-form">
  <div class="form-group">
    <input type="text" class="form-control" placeholder="Search git users with username" [(ngModel)]="username" name="username" (keyup)="findProfile()">
    </div>
</form>

<div ngIf="profile">
  <div class="panel panel-default">
    <div class="panel-heading">
      {{profile.name}} <small>({{profile.login}})</small>
      <span ngIf="profile.company">, Works at {{profile.company}}</span>
      {{profile.location}}
      </div>

        <div class="panel-body">
          <div class="row">
            <div class="col-sm-3">
              <img src="../../assets/profgirl.png" class="img-circle img-responsive" alt="">
              </div>

              </div>
            </div>
            </div>
            </div>
    